semanticdb/*
auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
cache
custom.el
projectile.cache
cache/ido.last
irony
projectile-bookmarks.eld
auto-save-list
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
org-clock-save.el
.mc-lists.el
.org-id-locations
ac-comphist.dat
org-clock-save.el
recentf
semanticdb/!*
semantic
sematic*
*_defs
custom.el
/eshell/lastdir
/lisp/mood-line.el
/lisp/org-alert/
/lisp/sb-imenu.el
/lmutracker
/lmutracker.mm
/network-security.data
/places
/request/curl-cookie-jar
.lsp-session-v1
elpy/
image-dired/
lisp/w32-shell-execute.el
org-roam.db
snippets/org-mode/orglatexheader1b
snippets/python-mode/mc
transient/

bookmarks
org-roam-db.bak
thirdparty
