auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
cache
lisp
auto-save-list
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
org-clock-save.el
.mc-lists.el
.org-id-locations
ac-comphist.dat
org-clock-save.el
recentf